.works{

    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}

.w-right{

    position: relative;
}

.w-maiCircle{

    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;


}


.w-maiCircle>*{

    position: absolute;
}

.w-maiCircle >:nth-child(1)
{
    top: -3rem;
    left: 6rem;
}

.w-maiCircle >:nth-child(2)
{
    left: -3rem;
    top: 5rem;
}

.w-maiCircle >:nth-child(3)
{
    left: 6rem;
    top: 5rem;
}

.w-maiCircle >:nth-child(4)
{
    left: 15rem;
    top: 5rem;
}

.w-maiCircle >:nth-child(5)
{
    top: 13rem;
    left: 6rem;
}

.w-secCircle{

    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background:rgb(255, 255, 255);

    
}

.w-secCircle> img{

    transform: scale(0.6);
}

.w-backCircle{

    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blurCircle{

    background: rgb(69, 69, 235);
    left: 18rem;
    top: 0rem;
}

.yellowCircle{

    background: linear-gradient(180deg,#fdc50f 26.71%,#fb982f 99.36%);
    left: 18rem;
    top: 8rem;
}
