.contact-form
{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
}

.c-right{

    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}

.c-right>span:nth-of-type(1){
    
    font-weight: bold;
    font-size: 30px;
}
.c-right>span:nth-of-type(2){
    
    font-weight: bold;
    font-size: 15px;
    color: var(--orange);
    margin-right: 1rem;
    
}
.c-right .user
{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;

}

textarea {
    height: 4rem!important;
}

.c-blur1{

    top: 1rem;
    left: 8rem;
}

.awesone>span{

    font-weight: bold;
}